<div class="container">
  <div class="row">
    <nav class="col-12 text-center">
      <a class="btn btn-secondary" routerLink="/items/add" *ngIf="globals.isSignedIn"
        >Add Item</a
      >
      <button class="btn btn-primary" (click)="getItems()">Active Items</button>
      <button class="btn btn-primary" (click)="getAllItems()">All Items</button>
      <button class="btn btn-primary" (click)="getTrashItems()">Trash Items</button>
    </nav>
    <div class="col-12 col-sm-6 col-md-4 py-5" *ngFor="let item of items">
      <div class="card">
        <img [src]="item.photo" [alt]="item.title" />
        <h4>{{ item.title }}</h4>
        <p>{{ item.description }}</p>
        <div class="buttons">
          <a class="btn btn-primary" [routerLink]="['/items/edit', item.id]">Edit</a>
          <button
            class="btn btn-secondary"
            (click)="deleteItem(item.id)"
            *ngIf="!item.deleted_at"
          >
            Trash
          </button>
          <button
            class="btn btn-danger"
            (click)="deleteHardItem(item.id)"
            *ngIf="item.deleted_at"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            (click)="restoreItem(item.id)"
            *ngIf="item.deleted_at"
          >
            Restore
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
