<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <a class="my-0 mr-md-auto" routerLink="/"><img src="/assets/logo-wunderman-thompson.svg" alt="Wunderman Thompson"></a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/">Home</a>
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="/items" *ngIf="globals.isSignedIn">Items</a>
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="/profile" *ngIf="globals.isSignedIn">Profile</a>
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="/login" *ngIf="!globals.isSignedIn" >Login</a>
      <a class="p-2 text-dark" routerLinkActive="active" routerLink="/register" *ngIf="!globals.isSignedIn">Register</a>
    </nav>
    <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="globals.isSignedIn">Logout</button>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <h4>We Inspire Growth</h4>
  <p>Data Team @ Wunderman Thompson Co</p>
</footer>
