<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Item</h3>

      <!-- Errors -->
      <div *ngIf="errors?.title" class="alert alert-danger mt-3">
        {{ errors?.title }}
      </div>
      <div *ngIf="errors?.photo" class="alert alert-danger mt-3">
        {{ errors?.photo }}
      </div>
      <div *ngIf="errors?.description" class="alert alert-danger mt-3">
          {{ errors?.description }}
      </div>

      <!-- Signup form -->
      <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
          <label>Photo</label>
          <input type="text" class="form-control" formControlName="photo">
      </div>
      <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description" >
      </div>
      <button type="submit" class="btn btn-block btn-primary">Submit</button>
  </form>
</div>
