<div class="col-12 auth-wrapper">
  <form class="row form-signin" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="col-12 col-sm-6">
      <h3 class="h3 mb-3 font-weight-normal text-center">Item</h3>

      <!-- Errors -->
      <div *ngIf="errors?.title" class="alert alert-danger mt-3">
        {{ errors?.title }}
      </div>
      <div *ngIf="errors?.photo" class="alert alert-danger mt-3">
        {{ errors?.photo }}
      </div>
      <div *ngIf="errors?.description" class="alert alert-danger mt-3">
        {{ errors?.description }}
      </div>

      <!-- Signup form -->
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="form-group">
        <label>Photo</label>
        <input type="url" class="form-control" formControlName="photo" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" />
      </div>
      <button type="submit" class="btn btn-block btn-primary">Save</button>
    </div>
    <div class="col-12 col-sm-6">
      <div class="card">
        <img [src]="itemForm.value.photo == '' ? '/assets/add-image.png' : itemForm.value.photo" />
        <h4>{{ itemForm.value.title == '' ? 'Some title' : itemForm.value.title }}</h4>
        <p>{{ itemForm.value.description == '' ? 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a tempor ex, id scelerisque nisl.' : itemForm.value.description }}</p>
      </div>
    </div>
  </form>
</div>
